@charset "UTF-8";

* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #CCCCCC;
    font-size: 1.6rem;
}

.container {
    width: 100%;
    max-width: calc(1200px + 32px);
    height: 100%;
    padding: 0 16px 16px;
    margin: 0 auto;
}

.container main>header {
    padding: 2.4rem 0;
}

#text-input-field {
    width: 100%;
    height: 34rem;
    font-weight: bold;
    background-color: transparent;
    resize: none;
    border: none;
    border-radius: 3.2rem;
    padding: 2.4rem 1.6rem;
}

#text-input-field,
#text-input-field::placeholder {
    color: #FF4500;
    font-size: 3.2rem;
    line-height: 150%;
}

.controls {
    margin: 1.6rem 0 6.4rem;
}

.instruction {
    color: #FF4500;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: .8rem;
    margin-bottom: 1.6rem;
}

.button-box {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.btn {
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    padding: 2.4rem;
    background-color: white;
    color: #FF4500;
    border: 3px solid #FF4500;
    border-radius: 2.4rem;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.02);
}

.btn:disabled {
    background-color: #FFD5C5;
}

.btn:disabled:hover {
    transform: none;
}

.btn-encrypt {
    background-color: #FF4500;
    color: white;
}

.text-output-field {
    background-color: white;
    padding: 3.2rem;
    border-radius: 3.2rem;
    box-shadow: 0px 24px 32px -8px #00000014;
    word-wrap: break-word;
}

.illustration {
    display: none;
}

.text-output {
    width: 100%;
    color: #FF4500;
    font-size: 2.4rem;
    font-family: 'Noto Sans', sans-serif;
    line-height: 150%;
    margin-bottom: 3.2rem;
}

.msg-default {
    font-family: 'Noto Sans', sans-serif;
    color: #FF4500;
    text-align: center;
    line-height: 150%;
}

.msg-default p:first-child {
    font-family: 'Noto Sans', sans-serif;
    color: #FF4500;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 1.6rem;
}

.box-alert {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    width: calc(100% - 32px);
    background-color: #FFD5C5;
    color: #FF4500;
    line-height: 120%;
    padding: 2.4rem;
    border: 3px solid #FF4500;
    border-radius: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 1.2rem;
    left: 1.6rem;
    z-index: 1;
}

.box-alert button {
    background-color: transparent;
    border: none;
    color: #FF4500;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 4rem 4rem;
    }

    .container main>header {
        padding: 7.2rem 0;
    }

    #text-input-field {
        height: 50.2rem;
    }

    .button-box {
        flex-direction: row;
    }
}

@media screen and (min-width: 992px) {

    body {
        height: 100vh;
    }

    .container {
        display: flex;
        justify-content: space-between;
        gap: 2.4rem;
    }

    .container main>header {
        padding: 4rem 0;
    }

    main {
        height: 100%;
        flex-grow: 1;
    }

    .input-field {
        height: calc(100% - 130px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #text-input-field {
        height: 32rem;
        flex-grow: 1;
    }

    .controls {
        margin-bottom: 3.2rem;
    }

    .text-output-field {
        width: 40rem;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .text-output {
        overflow-y: auto;
    }

    .view-default {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .illustration {
        width: 100%;
        display: block;
        margin-bottom: 3.2rem;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        gap: 8rem;
    }

    .box-alert {
        width: 120rem;
        left: calc(50% - 60rem);
    }
}